<component name="ArtifactManager">
  <artifact type="war" name="springmvc_sm_maven_demo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springmvc_sm_maven_demo.war">
      <element id="artifact" artifact-name="springmvc_sm_maven_demo:war exploded" />
    </root>
  </artifact>
</component>